@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LINE-Thin";
    src: url("./assets/fonts/LINESeedKR-Th.ttf");
}

@font-face {
    font-family: "LINE-Regulr";
    src: url("./assets/fonts/LINESeedKR-Rg.ttf");
}

@font-face {
    font-family: "LINE-Bold";
    src: url("./assets/fonts/LINESeedKR-Bd.ttf");
}
